.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 630px;
  border: 0.5px solid var(--black);
  padding: 80px;


}

.title {
  position: relative;
  font-size: 26px;
  font-family: 'Instrument Serif', serif;
  text-transform: uppercase;
  margin-bottom: 60px;

  &::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 470px;
    height: 0.5px;
    background-color: var(--black);
  }
}
