.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 470px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid var(--black);
}

.inputsBox {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
