.container {
  position: absolute;
  width: 250px;
  border: 0.5px solid var(--black);
  border-top: transparent;
  background-color: var(--white);

  li:not(li:last-of-type) {
    border-bottom: 0.5px solid var(--black);
  }

  li {
    display: grid;
    place-items: center;
    width: 250px;
    height: 35px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
  }
}

.select {
  position: relative;
  width: 250px;
  height: 35px;
  font-size: 12px;
  text-align: center;
  border: 0.5px solid var(--black);
  color: var(--black);
  outline: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}

.inputSelectBox {
  position: relative;
}
