.inputTitle {
  font-size: 18px;
  font-family: 'Instrument Serif', serif;
  align-self: flex-start;
}

.inputTitleSelect {
  min-width: 53px;
  margin-right: 38px;
}

.inputContainer {
  display: flex;
  position: relative;
  justify-content: space-between;   
  align-items: center;          
  width: 470px;
  padding: 20px 0;
  border-bottom: 0.5px solid var(--black);
}

.inputContainerSelect {
  justify-content: flex-start;
}

.btnContainer {
  display: flex;
  gap: 5px;
  width: 50px;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  width: 13.787px;
  height: 7px;
  pointer-events: none;
}

.labelHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.buttonAndInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.buttonAndInputRow {
  display: flex;
  align-items: center;
  gap: 80px;
}
